@model OrderScheduleModel

@{ //page title
    ViewBag.PageTitle = T("Admin.Orders.EditOrderScheduleDetails").Text;
    Html.SetActiveMenuItemSystemName("OrderSchedule");
}

<form asp-controller="Order" asp-action="ScheduleDate" method="post" id="orderschedule-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Orders.EditOrderScheduleDetails")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div asp-validation-summary="All"></div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-body">
                <div class="panel panel-default sub-panel">
                    <div class="panel-body">
                        <div id="slots-container">
                            @for (var i = 0; i < Model.Slots.Count; i++)
                            {
                                <div class="form-group row slot-row" data-index="@i">
                                    <div class="col-md-2">
                                        <label>Slot @(i + 1)</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="time" name="Slots[@i].OpenTime" value="@Model.Slots[i].OpenTime" class="form-control" placeholder="Open" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="time" name="Slots[@i].CutoffTime" value="@Model.Slots[i].CutoffTime" class="form-control" placeholder="Cutoff" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="time" name="Slots[@i].DeliveryTime" value="@Model.Slots[i].DeliveryTime" class="form-control" placeholder="Delivery" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>
                                            <input type="checkbox" name="Slots[@i].IsEnabled" value="true" @(Model.Slots[i].IsEnabled ? "checked" : "") />
                                            Enabled
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
